[submodule "vendors/semver.c"]
	path = vendors/semver.c
	url = https://github.com/h2non/semver.c.git
[submodule "examples/esp32-homie-example/components/esp-mqtt/esp-mqtt"]
	path = examples/esp32-homie-example/components/esp-mqtt/esp-mqtt
	url = https://github.com/espressif/esp-mqtt.git
